<h3 class="text-center"><strong>Items</strong></h3>
<hr>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Produced at</th>
            <th scope="col">Time to Produce</th>
        </tr>
    </thead>
    <tbody>
        <!-- this will change to use item.<some-list-name> -->
        {% for i in unlock.items %}
        <tr>
            <th scope="row">
                <a href="{{ url_for('township.item', item_name=i.name) }}"
                    class="list-group-item list-group-item-action">
                    {{ i.name }}
                </a>
            </th>

            {% if i.source.name %}
            <td>
                <a href="{{ url_for('township.source', source_name=i.source.name)}}">
                    {{ i.source.name }}</a>
            </td>
            {% else %}
            <td>sorry.. still working on that</td>
            {% endif %}
            <td>{{ i.time_to_make }}</td>
        <tr>
        {% endfor %}
    </tbody>
</table>
