<h3 class="text-center"><strong>Sources</strong></h3>
<hr>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Construction Time</th>
            <th scope="col">Construction Cost</th>
        </tr>
    </thead>
    <tbody>
        <!-- this will change to use item.<some-list-name> -->
        {% for s in unlock.sources %}
        <tr>
            <th scope="row">
                <a href="{{ url_for('township.source', source_name=s.name)}}"
                    class="list-group-item list-group-item-action">
                    {{ s.name }}
                </a>
            </th>

            <td>{{ s.time_to_make }}</td>
            <td>{{ s.purchase_cost }}</td>
        <tr>
        {% endfor %}
    </tbody>
</table>
