{% extends "base.html" %}

{% block title %}LevelUP - Item: {{ item.name }}{% endblock %}

{% block page_content %}
<!-- TODO: township nav here -->
<section class="container">
    <a href="{{ url_for('main.index') }}">Back to {{ current_user.town.name }}</a>
    <h1>{{ item.name }}</h1>
</section>

<section class="container">
    <!-- Tool tips?? -->
    <p>Unlocked at: {{ item.required_level }}</p>
    {% if item.source %}
    <p>Source: {{ item.source.name }}</p>
    {% endif %}
    <p>Production Time: {{ item.time_to_make }}</p>

    <!-- list of materials -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ingredient Name</th>
                <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
            <!-- this will change to use item.<some-list-name> -->
            {% if ingredients %}
            {% for item in ingredients %}
            <tr>
              <th scope="row">{{ item.name }}</th>
              <td>{{ item.quantity }}</td>
            <tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</section>

{% endblock %}
