{% extends "base.html" %}

{% block title %}LevelUP - Landing{% endblock %}

{% block page_content %}
<section>
    <div class="container" style="background-color: pink;">
        <img class="img-rounded landing-thumbnail" src="{{ user.gravatar(size=150) }}">
        <div class="landing-offset" style="background-color: green;">
            <h1>
                <a href="{{ url_for('township.edit_town')}}">{{ town.name }}</a>
            </h1>
            <p>
                level: {{ town.level }}<br>
                population: {{ town.population }} <br>
                population cap: {{ town.population_cap }} <br>
                coins: {{ town.coins }} <br>
                cash: {{ town.township_cash }} <br>
            </p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <p>
            next level: {{ unlock.level }} <br>
            total construction cost: 550000 coins <br>
            Unlock items:
        </p>
        <div class="list-group">
            {% if unlock.sources %}
            <p><strong>Sources:</strong></p>
                {% for s in unlock["sources"] %}
                    <a href="{{ url_for('township.source', source_name=s.name)}}" class="list-group-item list-group-item-action">
                        {{ s.name }}
                    </a>
                {% endfor %}
            {% endif %}

            {% if unlock.items %}
            <p><strong>Items:</strong></p>
                {% for i in unlock["items"] %}
                <a href="{{ url_for('township.item', item_name=i.name) }}"
                    class="list-group-item list-group-item-action">
                    {{ i.name }}
                </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(function() {
        // want a list of dicts to apply this method to
        $('.source_popup').hover(
            // mouse in event handler
            function(event) {
                var elem = $(event.currentTarget);
                timer = setTimeout(function() {
                    timer = null;
                    // get the html element to insert into the popover
                    xhr = $.ajax(
                        '/township/source/' + elem.first().text().trim() + '/popup').done(
                            // create the popup
                            function(data) {
                                // clear response so it doesn't interever with other popovers
                                xhr = null;
                                // inject the html into the popup
                                elem.popover({
                                    trigger: 'manual',
                                    html: true,
                                    animation: false,
                                    container: elem,
                                    content: data,
                                    placement: 'auto'
                                // finally sho the popup
                                }).popover('show');
                            }
                        );
                }, 1000);
            },
            // mouse out event handler
            function(event) {
                var elem = $(event.currentTarget);
                if (timer) {
                    clearTimeout(timer);
                    timer = null;
                }
                else if (xhr) {
                    xhr.abort();
                    xhr = null;
                }
                else {
                    elem.popover('destroy');
                }
            }
        )
    });
</script>
{% endblock %}

<!-- https://pietschsoft.com/post/2015/09/05/javascript-basics-how-to-create-a-dictionary-with-keyvalue-pairs -->
<!-- https://stackoverflow.com/questions/13378051/how-to-select-find-an-element-inside-an-event-currenttarget-in-jquery -->
<!-- https://stackoverflow.com/questions/11238508/how-to-get-value-of-a-div-using-javascript -->
