{% extends "base.html" %}

{% block title %}LevelUP - Landing{% endblock %}

{% block page_content %}
<section>
    <div class="container">
        <div>
            <h1>Hello,
                <a href="{{ url_for('township.edit_town')}}">{{ town.name }}</a>
            </h1>
            <hr>
            <p>
                level: {{ town.level }}<br>
                population: {{ town.population }} <br>
                population cap: {{ town.population_cap }} <br>
                coins: {{ town.coins }} <br>
                cash: {{ town.township_cash }} <br>
            </p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <p>
            next level: {{ unlock.level }} <br>
            total construction cost: {{ unlock.construction_cost }} coins <br>
            Unlock items:
        </p>
        <div class="list-group">
            {% if unlock.sources %}
            <p><strong>Sources:</strong></p>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Construction Time</th>
                        <th scope="col">Construction Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- this will change to use item.<some-list-name> -->
                    {% for s in unlock.sources %}
                    <tr>
                        <th scope="row"><a href="{{ url_for('township.source', source_name=s.name)}}">
                            {{ s.name }}</a></th>
                        <td>{{ s.time_to_make }}</td>
                        <td>{{ s.purchase_cost }}</td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            {% if unlock.items %}
            <p><strong>Items:</strong></p>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Produced at</th>
                        <th scope="col">Time to Produce</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- this will change to use item.<some-list-name> -->
                    {% for i in unlock.items %}
                    <tr>
                        <th scope="row">
                            <a href="{{ url_for('township.item', item_name=i.name) }}"
                                class="list-group-item list-group-item-action">
                                {{ i.name }}
                            </a>
                        </th>
                        {% if i.source.name %}
                        <td>
                            <a href="{{ url_for('township.source', source_name=i.source.name)}}">
                                {{ i.source.name }}</a>
                        </td>
                        {% else %}
                        <td>sorry.. still working on that</td>
                        {% endif %}
                        <td>{{ i.time_to_make }}</td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(function() {
        // want a list of dicts to apply this method to
        $('.source_popup').hover(
            // mouse in event handler
            function(event) {
                var elem = $(event.currentTarget);
                timer = setTimeout(function() {
                    timer = null;
                    // get the html element to insert into the popover
                    xhr = $.ajax(
                        '/township/source/' + elem.first().text().trim() + '/popup').done(
                            // create the popup
                            function(data) {
                                // clear response so it doesn't interever with other popovers
                                xhr = null;
                                // inject the html into the popup
                                elem.popover({
                                    trigger: 'manual',
                                    html: true,
                                    animation: false,
                                    container: elem,
                                    content: data,
                                    placement: 'auto'
                                // finally sho the popup
                                }).popover('show');
                            }
                        );
                }, 1000);
            },
            // mouse out event handler
            function(event) {
                var elem = $(event.currentTarget);
                if (timer) {
                    clearTimeout(timer);
                    timer = null;
                }
                else if (xhr) {
                    xhr.abort();
                    xhr = null;
                }
                else {
                    elem.popover('destroy');
                }
            }
        )
    });
</script>
{% endblock %}

<!-- https://pietschsoft.com/post/2015/09/05/javascript-basics-how-to-create-a-dictionary-with-keyvalue-pairs -->
<!-- https://stackoverflow.com/questions/13378051/how-to-select-find-an-element-inside-an-event-currenttarget-in-jquery -->
<!-- https://stackoverflow.com/questions/11238508/how-to-get-value-of-a-div-using-javascript -->
