{% extends "base.html" %}

{% block title %}LevelUP{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}<br>{% endif %}
            {% if user.location %}
                from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>
            {% endif %}
        </p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>Member since {{ moment(user.member_since).format('L') }}. Last seen {{ moment(user.last_seen).fromNow() }}.</p>
        <!-- blog post count -->
        <p>Blog posts: {{ user.posts.count() }}</p>
        <p>
        <!-- if current user can follow and current page is not current users page -->
        {% if current_user.can(Permission.FOLLOW) and current_user != user %}
            <!-- if current user is not following user -->
            {% if not current_user.is_following(user) %}
                <!-- follow button -->
                <a href="{{ url_for('.follow', username=user.username) }}"
                    class="btn btn-primary">Follow</a>
            <!-- else -->
            {% else %}
                <!-- unfollow button -->
                <a href="{{ url_for('.unfollow', username=user.username) }}"
                    class="btn btn-default">Unfollow</a>
            <!-- endif -->
            {% endif %}
        <!-- endif -->
        {% endif %}
        <!-- anchor followers with a followers count links to followers using user -->
        <a href="{{ url_for('.followers', username=user.username) }}">
            Followers: <span class="badge">{{ user.followers.count() - 1 }}</span></a>
        <!-- anchor following with a followed count links to followed_by using user -->
        <a href="{{ url_for('.followed_by', username=user.username) }}">
            Following: <span class="badge">{{ user.followed.count() - 1 }}</span></a>
        <!-- if current user is followed by the user current_user is following -->
            <!-- follows you tag -->
        {% if current_user.is_authenticated and user != current_user
            and user.is_following(current_user) %}
    | <span class="label label-default">Follows You</span>
        <!-- endif -->
        {% endif %}
        </p>
        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
            {% endif %}
        </p>
    </div>
    <h3>Posts by {{ user.username }}</h3>
    {% include 'blog/_posts.html' %}
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
    </div>
    {% endif %}
    </div>
{% endblock %}
